<strong>proxmox-interacter</strong> v{{ . }}
A Telegram bot that allows you to interact with your Proxmox instances
Can understand the following commands:

- /status - see your cluster status
- /containers - list your Proxmox containers/VMs
- /container [container ID/name] - see a container info/details
- /node [node ID/name] - see a node info/details
- /start [container ID/name] - start a container
- /stop [container ID/name] - stop a container
- /restart [container ID/name] - restart a container
- /disks - list your Proxmox storages and info about them
- /help, or /start - displays this message
- /info - about this bot
